<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Hi {{ userName }}</h1>
 <a href="{{path('user_page')}}"><button>Back</button></a>
</body>
</html>
